@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Bangers", cursive;
}

html {
    scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-montserrat {
        font-family: "Montserrat", sans-serif;
    }
    .text-stroke-8 {
        -webkit-text-stroke-width: 8px;
        text-stroke-width: 8px;
    }
    .text-stroke-16 {
        -webkit-text-stroke-width: 16px;
        text-stroke-width: 16px;
    }
    .text-stroke-20 {
        -webkit-text-stroke-width: 20px;
        text-stroke-width: 20px;
    }
    .text-stroke-24 {
        -webkit-text-stroke-width: 24px;
        text-stroke-width: 24px;
    }
    .text-stroke-blue {
        -webkit-text-stroke-color: #0a48a9;
        text-stroke-color: #0a48a9;
    }
    .text-stroke-gray {
        -webkit-text-stroke-color: #483f3f;
        text-stroke-color: #483f3f;
    }
    .text-stroke-outer {
        paint-order: stroke fill;
    }
}

@layer components {
    .code-hero-wrapper-clip {
        clip-path: polygon(99.934% 77.89%, 0.066% 98%, 0.066% 19.5%, 100% 0%);
    }
    .code-hero-inner-wrapper-clip {
        clip-path: polygon(100% 77%, 0% 97.7%, 0% 20%, 100% 0%);
    }
    .join-the-mission-wrapper-clip {
        clip-path: polygon(99.922% 91.921%, 0% 83.256%, 0% 15.937%, 99.922% 0%, 99.922% 99.921%);
    }
    .join-the-mission-wrapper-inner-clip {
        clip-path: polygon(100.922% 91.4%, 0% 83%, 0% 15.937%, 99.922% 0%, 99.922% 98.921%);
    }
    .contact-person-wrapper-clip {
        clip-path: polygon(100% 99.832%, 0.035% 99.832%, 0.035% 0%, 100% 22.313%, 100% 99.832%);
    }
    .contact-person-inner-wrapper-clip {
        clip-path: polygon(100% 99.832%, 0.035% 99.832%, 0.035% 0%, 100% 23.313%, 100% 99.832%);
    }
    .prize-wrapper-left-clip {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 86%, 0% 0%);
    }
    .prize-wrapper-right-clip {
        clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 14%, 100% 100%);
    }

    .join-the-mission-clip-inner {
        clip-path: polygon(
            0% 52.083%,
            0% 20.312%,
            99.999% 0%,
            99.999% 42.405%,
            99.999% 42.405%,
            99.984% 43.094%,
            99.801% 44.987%,
            99.243% 47.822%,
            98.103% 51.34%,
            96.176% 55.278%,
            93.255% 59.377%,
            89.132% 63.376%,
            83.602% 67.013%,
            76.458% 70.028%,
            67.493% 72.16%,
            67.493% 72.16%,
            67.367% 72.755%,
            67.003% 74.4%,
            66.424% 76.88%,
            65.652% 79.984%,
            64.711% 83.5%,
            63.622% 87.214%,
            62.41% 90.915%,
            61.095% 94.39%,
            59.702% 97.426%,
            58.252% 99.811%,
            58.252% 99.811%,
            58.943% 96.408%,
            59.323% 92.498%,
            59.423% 88.325%,
            59.274% 84.132%,
            58.908% 80.161%,
            58.356% 76.656%,
            57.651% 73.861%,
            56.822% 72.017%,
            55.903% 71.369%,
            54.924% 72.16%,
            54.924% 72.16%,
            54.235% 72.968%,
            52.938% 74.065%,
            51.034% 75.297%,
            48.525% 76.508%,
            45.414% 77.544%,
            41.703% 78.248%,
            37.394% 78.467%,
            32.488% 78.044%,
            26.988% 76.825%,
            20.897% 74.655%,
            20.897% 74.655%,
            16.142% 72.296%,
            12.2% 69.673%,
            8.988% 66.894%,
            6.424% 64.067%,
            4.424% 61.298%,
            2.905% 58.694%,
            1.787% 56.364%,
            0.984% 54.414%,
            0.416% 52.951%,
            0% 52.083%
        );
    }
    .rules-left-wrapper-clip {
        clip-path: polygon(100% 0%, 100% 62.027%, 50% 100%, 0% 69.388%, 0% 0%, 100% 0%);
    }
    .rules-left-inner-wrapper-clip {
        clip-path: polygon(100% 0%, 100% 59.027%, 50% 100%, 0% 66.388%, 0% 0%, 100% 0%);
    }
    .rules-right-wrapper-clip {
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 3.141%, 50.014% 16.751%, 100% 0%);
    }
    .rules-right-inner-wrapper-clip {
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 4.441%, 50% 17.551%, 100% 1%);
    }
    /* ---- sm screen -------- */
    @media (min-width: 640px) {
        .code-hero-wrapper-clip {
            clip-path: polygon(99.934% 69.89%, 0.066% 100%, 0.066% 30.5%, 100% 0%);
        }
        .code-hero-inner-wrapper-clip {
            clip-path: polygon(100% 69%, 0% 100%, 0% 31%, 100% 0%);
        }
        .join-the-mission-wrapper-clip {
            clip-path: polygon(99.922% 99.921%, 0% 82.256%, 0% 30.937%, 99.922% 0%, 99.922% 99.921%);
        }
        .join-the-mission-wrapper-inner-clip {
            clip-path: polygon(99.922% 99.921%, 0% 82.256%, 0% 31.937%, 99.922% 0%, 99.922% 99.921%);
        }
        .contact-person-wrapper-clip {
            clip-path: polygon(100% 99.832%, 0.035% 99.832%, 0.035% 0%, 100% 33.313%, 100% 99.832%);
        }
        .contact-person-inner-wrapper-clip {
            clip-path: polygon(100% 99.832%, 0.035% 99.832%, 0.035% 0%, 100% 35.313%, 100% 99.832%);
        }
        .prize-wrapper-left-clip {
            clip-path: polygon(0% 0%, 100% 0%, 89.418% 100%, 0% 100%, 0% 0%);
        }
        .prize-wrapper-right-clip {
            clip-path: polygon(100% 100%, 0% 100%, 10.582% 0%, 100% 0%, 100% 100%);
        }
    }

    /* ---- lg screen -------- */
    @media (min-width: 1024px) {
        .code-hero-wrapper-clip {
            clip-path: polygon(100% 98.79%, 0% 69.1%, 0.066% 19.228%, 100% 0);
        }
        .code-hero-inner-wrapper-clip {
            clip-path: polygon(100% 98.79%, 0% 69.1%, 0.066% 19.228%, 100% 0);
        }
        .join-the-mission-wrapper-inner-clip {
            clip-path: polygon(99.922% 99.921%, 0% 83.256%, 0% 9.937%, 99.922% 0%, 99.922% 99.921%);
        }
        .join-the-mission-wrapper-clip {
            clip-path: polygon(99.922% 99.921%, 0% 83.256%, 0% 9.937%, 99.922% 0%, 99.922% 99.921%);
        }
        .contact-person-wrapper-clip {
            clip-path: polygon(100% 99.832%, 0.035% 99.832%, 0.035% 0%, 100% 81.313%, 100% 99.832%);
        }
        .contact-person-inner-wrapper-clip {
            clip-path: polygon(100% 99.832%, 0.035% 99.832%, 0.035% 0%, 100% 86.313%, 100% 99.832%);
        }
        .rules-left-wrapper-clip {
            clip-path: polygon(0% 0%, 62.027% 0%, 100% 50%, 62.027% 100%, 0% 100%, 0% 0%);
        }
        .rules-left-inner-wrapper-clip {
            clip-path: polygon(0% 0%, 61.027% 0%, 99% 50%, 61.027% 100%, 0% 100%, 0% 0%);
        }
        .rules-right-wrapper-clip {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 11.424% 50.25%, 0% 0%);
        }
        .rules-right-inner-wrapper-clip {
            clip-path: polygon(100% 0%, 100% 100%, 1% 100%, 11.824% 50.25%, 1% 0%);
        }
    }
    .join-the-mission-clip {
        clip-path: polygon(
            0% 53.047%,
            0% 20.43%,
            99.92% 0%,
            99.92% 42.652%,
            99.92% 42.652%,
            99.905% 43.345%,
            99.722% 45.249%,
            99.164% 48.101%,
            98.026% 51.639%,
            96.1% 55.6%,
            93.181% 59.723%,
            89.062% 63.745%,
            83.536% 67.404%,
            76.398% 70.436%,
            67.44% 72.581%,
            67.44% 72.581%,
            67.313% 73.192%,
            66.94% 74.875%,
            66.333% 77.403%,
            65.502% 80.552%,
            64.46% 84.095%,
            63.218% 87.806%,
            61.787% 91.461%,
            60.18% 94.831%,
            58.407% 97.694%,
            56.48% 99.821%,
            56.48% 99.821%,
            57.36% 96.619%,
            57.911% 92.876%,
            58.171% 88.834%,
            58.175% 84.735%,
            57.96% 80.824%,
            57.563% 77.343%,
            57.02% 74.535%,
            56.367% 72.644%,
            55.642% 71.911%,
            54.88% 72.581%,
            54.88% 72.581%,
            54.198% 73.471%,
            52.904% 74.621%,
            51.003% 75.878%,
            48.497% 77.093%,
            45.387% 78.117%,
            41.677% 78.797%,
            37.368% 78.985%,
            32.465% 78.53%,
            26.968% 77.282%,
            20.88% 75.09%,
            20.88% 75.09%,
            16.129% 72.735%,
            12.191% 70.148%,
            8.981% 67.427%,
            6.419% 64.672%,
            4.42% 61.985%,
            2.903% 59.464%,
            1.785% 57.209%,
            0.984% 55.322%,
            0.416% 53.901%,
            0% 53.047%
        );
    }
    .code-hero-clip {
        clip-path: polygon(
            19.419% 37.332%,
            19.419% 37.332%,
            19.152% 36.478%,
            18.581% 35.512%,
            17.76% 34.464%,
            16.746% 33.367%,
            15.593% 32.251%,
            14.355% 31.148%,
            13.09% 30.09%,
            11.85% 29.108%,
            10.692% 28.233%,
            9.671% 27.498%,
            9.671% 27.498%,
            11.163% 27.722%,
            12.899% 27.945%,
            14.807% 28.149%,
            16.814% 28.316%,
            18.851% 28.426%,
            20.844% 28.463%,
            22.723% 28.406%,
            24.416% 28.239%,
            25.85% 27.942%,
            26.956% 27.498%,
            26.956% 27.498%,
            27.642% 26.755%,
            27.911% 25.625%,
            27.821% 24.186%,
            27.433% 22.512%,
            26.807% 20.679%,
            26.005% 18.763%,
            25.086% 16.84%,
            24.11% 14.987%,
            23.139% 13.278%,
            22.233% 11.79%,
            22.233% 11.79%,
            23.339% 12.636%,
            24.659% 13.585%,
            26.146% 14.59%,
            27.753% 15.602%,
            29.433% 16.574%,
            31.14% 17.459%,
            32.827% 18.208%,
            34.448% 18.774%,
            35.957% 19.109%,
            37.306% 19.166%,
            37.306% 19.166%,
            38.603% 18.61%,
            39.612% 17.289%,
            40.366% 15.379%,
            40.896% 13.056%,
            41.236% 10.497%,
            41.418% 7.878%,
            41.475% 5.376%,
            41.44% 3.167%,
            41.344% 1.428%,
            41.221% 0.335%,
            41.221% 0.335%,
            41.194% 0.281%,
            41.172% 0.232%,
            41.152% 0.189%,
            41.137% 0.151%,
            41.125% 0.119%,
            41.117% 0.092%,
            41.113% 0.071%,
            41.113% 0.056%,
            41.117% 0.047%,
            41.125% 0.044%,
            41.125% 0.044%,
            41.134% 0.047%,
            41.143% 0.056%,
            41.152% 0.071%,
            41.162% 0.092%,
            41.171% 0.119%,
            41.181% 0.151%,
            41.191% 0.189%,
            41.201% 0.232%,
            41.211% 0.281%,
            41.221% 0.335%,
            41.221% 0.335%,
            41.737% 1.248%,
            42.61% 2.651%,
            43.763% 4.404%,
            45.121% 6.371%,
            46.606% 8.412%,
            48.144% 10.392%,
            49.656% 12.172%,
            51.068% 13.613%,
            52.303% 14.579%,
            53.284% 14.932%,
            53.284% 14.932%,
            54.054% 14.649%,
            54.9% 13.86%,
            55.799% 12.654%,
            56.725% 11.121%,
            57.656% 9.349%,
            58.566% 7.428%,
            59.432% 5.448%,
            60.23% 3.498%,
            60.936% 1.667%,
            61.525% 0.044%,
            61.525% 0.044%,
            61.655% 1.98%,
            61.845% 4.164%,
            62.098% 6.49%,
            62.414% 8.851%,
            62.796% 11.142%,
            63.245% 13.255%,
            63.762% 15.083%,
            64.35% 16.522%,
            65.011% 17.463%,
            65.745% 17.8%,
            65.745% 17.8%,
            66.674% 17.559%,
            67.878% 16.886%,
            69.296% 15.857%,
            70.87% 14.548%,
            72.538% 13.037%,
            74.242% 11.398%,
            75.922% 9.709%,
            77.517% 8.045%,
            78.968% 6.482%,
            80.216% 5.098%,
            80.216% 5.098%,
            79.723% 6.658%,
            79.167% 8.477%,
            78.574% 10.479%,
            77.973% 12.59%,
            77.389% 14.737%,
            76.851% 16.845%,
            76.386% 18.839%,
            76.019% 20.646%,
            75.78% 22.191%,
            75.694% 23.4%,
            75.694% 23.4%,
            76.051% 24.155%,
            77.047% 24.433%,
            78.569% 24.304%,
            80.504% 23.836%,
            82.741% 23.1%,
            85.165% 22.163%,
            87.664% 21.096%,
            90.126% 19.966%,
            92.437% 18.845%,
            94.486% 17.8%,
            94.486% 17.8%,
            93.247% 18.888%,
            91.822% 20.18%,
            90.276% 21.63%,
            88.671% 23.191%,
            87.069% 24.817%,
            85.534% 26.461%,
            84.129% 28.075%,
            82.917% 29.614%,
            81.96% 31.031%,
            81.321% 32.278%,
            81.321% 32.278%,
            81.326% 33.539%,
            82.336% 34.483%,
            84.128% 35.153%,
            86.478% 35.593%,
            89.159% 35.846%,
            91.95% 35.956%,
            94.625% 35.966%,
            96.959% 35.919%,
            98.729% 35.859%,
            99.711% 35.829%,
            99.711% 35.829%,
            99.714% 36.072%,
            98.827% 36.742%,
            97.246% 37.747%,
            95.169% 38.998%,
            92.79% 40.405%,
            90.305% 41.877%,
            87.911% 43.325%,
            85.803% 44.658%,
            84.178% 45.786%,
            83.231% 46.619%,
            83.231% 46.619%,
            83.143% 47.243%,
            83.681% 48.039%,
            84.739% 48.97%,
            86.213% 49.997%,
            88.001% 51.082%,
            89.998% 52.188%,
            92.101% 53.274%,
            94.205% 54.305%,
            96.207% 55.241%,
            98.003% 56.044%,
            98.003% 56.044%,
            96.133% 56.305%,
            94.03% 56.648%,
            91.797% 57.067%,
            89.541% 57.56%,
            87.363% 58.12%,
            85.37% 58.744%,
            83.664% 59.426%,
            82.352% 60.163%,
            81.536% 60.949%,
            81.321% 61.78%,
            81.321% 61.78%,
            81.594% 62.818%,
            82.119% 64.086%,
            82.839% 65.516%,
            83.697% 67.04%,
            84.635% 68.589%,
            85.595% 70.096%,
            86.52% 71.491%,
            87.354% 72.708%,
            88.037% 73.677%,
            88.513% 74.331%,
            88.513% 74.331%,
            88.532% 74.346%,
            88.549% 74.362%,
            88.566% 74.377%,
            88.581% 74.392%,
            88.596% 74.407%,
            88.61% 74.422%,
            88.623% 74.437%,
            88.635% 74.453%,
            88.647% 74.468%,
            88.657% 74.483%,
            88.657% 74.483%,
            88.693% 74.538%,
            88.717% 74.576%,
            88.729% 74.598%,
            88.729% 74.604%,
            88.719% 74.595%,
            88.698% 74.571%,
            88.666% 74.532%,
            88.625% 74.478%,
            88.574% 74.411%,
            88.513% 74.331%,
            88.513% 74.331%,
            87.751% 73.928%,
            86.517% 73.543%,
            84.918% 73.202%,
            83.063% 72.935%,
            81.058% 72.77%,
            79.013% 72.737%,
            77.035% 72.863%,
            75.231% 73.176%,
            73.71% 73.707%,
            72.579% 74.483%,
            72.579% 74.483%,
            72.004% 75.384%,
            71.746% 76.542%,
            71.76% 77.9%,
            72% 79.402%,
            72.423% 80.991%,
            72.982% 82.612%,
            73.634% 84.207%,
            74.333% 85.721%,
            75.035% 87.096%,
            75.694% 88.278%,
            75.694% 88.278%,
            74.366% 87.393%,
            72.839% 86.382%,
            71.18% 85.291%,
            69.456% 84.165%,
            67.735% 83.05%,
            66.084% 81.993%,
            64.57% 81.04%,
            63.261% 80.237%,
            62.223% 79.629%,
            61.525% 79.263%,
            61.525% 79.263%,
            61.028% 79.458%,
            60.555% 80.414%,
            60.109% 82%,
            59.692% 84.086%,
            59.309% 86.54%,
            58.962% 89.231%,
            58.655% 92.029%,
            58.391% 94.802%,
            58.174% 97.42%,
            58.007% 99.751%,
            58.007% 99.751%,
            57.473% 98.406%,
            56.829% 96.845%,
            56.097% 95.135%,
            55.298% 93.34%,
            54.452% 91.525%,
            53.582% 89.757%,
            52.707% 88.1%,
            51.849% 86.62%,
            51.03% 85.383%,
            50.269% 84.453%,
            50.269% 84.453%,
            49.427% 84.105%,
            48.379% 84.489%,
            47.171% 85.488%,
            45.851% 86.982%,
            44.466% 88.855%,
            43.063% 90.987%,
            41.689% 93.261%,
            40.391% 95.559%,
            39.216% 97.761%,
            38.211% 99.751%,
            38.211% 99.751%,
            38.166% 98.068%,
            38.068% 96.135%,
            37.91% 94.039%,
            37.683% 91.864%,
            37.381% 89.698%,
            36.997% 87.626%,
            36.524% 85.734%,
            35.953% 84.107%,
            35.278% 82.832%,
            34.492% 81.995%,
            34.492% 81.995%,
            33.544% 81.736%,
            32.417% 82.076%,
            31.154% 82.916%,
            29.801% 84.161%,
            28.4% 85.713%,
            26.997% 87.476%,
            25.634% 89.353%,
            24.356% 91.247%,
            23.208% 93.06%,
            22.233% 94.697%,
            22.233% 94.697%,
            22.539% 93.311%,
            22.885% 91.68%,
            23.254% 89.867%,
            23.628% 87.934%,
            23.991% 85.946%,
            24.326% 83.963%,
            24.616% 82.05%,
            24.844% 80.268%,
            24.993% 78.681%,
            25.046% 77.351%,
            25.046% 77.351%,
            24.729% 76.486%,
            23.845% 76.194%,
            22.494% 76.393%,
            20.776% 76.998%,
            18.791% 77.925%,
            16.639% 79.09%,
            14.42% 80.409%,
            12.235% 81.799%,
            10.183% 83.175%,
            8.365% 84.453%,
            8.365% 84.453%,
            9.17% 83.193%,
            10.114% 81.688%,
            11.16% 79.99%,
            12.271% 78.151%,
            13.409% 76.224%,
            14.538% 74.262%,
            15.62% 72.317%,
            16.618% 70.441%,
            17.494% 68.687%,
            18.213% 67.107%,
            18.213% 67.107%,
            18.401% 65.857%,
            17.797% 65.022%,
            16.532% 64.552%,
            14.736% 64.393%,
            12.54% 64.495%,
            10.075% 64.806%,
            7.47% 65.274%,
            4.856% 65.848%,
            2.364% 66.477%,
            0.124% 67.107%,
            0.124% 67.107%,
            1.595% 65.835%,
            3.283% 64.353%,
            5.113% 62.721%,
            7.01% 61.001%,
            8.9% 59.254%,
            10.706% 57.539%,
            12.355% 55.917%,
            13.77% 54.45%,
            14.877% 53.197%,
            15.6% 52.219%,
            15.6% 52.219%,
            15.735% 51.418%,
            15.202% 50.658%,
            14.11% 49.943%,
            12.57% 49.278%,
            10.694% 48.668%,
            8.59% 48.119%,
            6.371% 47.634%,
            4.147% 47.219%,
            2.028% 46.879%,
            0.124% 46.619%,
            0.124% 46.619%,
            2.269% 45.943%,
            4.683% 45.136%,
            7.248% 44.226%,
            9.845% 43.24%,
            12.354% 42.208%,
            14.657% 41.157%,
            16.634% 40.116%,
            18.166% 39.112%,
            19.134% 38.175%,
            19.419% 37.332%
        );
    }

    .games-clip {
        clip-path: polygon(
            0% 66.938%,
            0% 0.613%,
            0% 0.613%,
            0.006% 0.514%,
            0.024% 0.42%,
            0.053% 0.332%,
            0.091% 0.251%,
            0.138% 0.18%,
            0.194% 0.118%,
            0.256% 0.068%,
            0.323% 0.031%,
            0.396% 0.008%,
            0.473% 0%,
            88.926% 0%,
            88.926% 0%,
            89.056% 0.023%,
            89.169% 0.086%,
            89.263% 0.182%,
            89.336% 0.305%,
            89.387% 0.445%,
            89.412% 0.598%,
            89.411% 0.754%,
            89.382% 0.906%,
            89.322% 1.048%,
            89.23% 1.173%,
            89.23% 1.173%,
            88.673% 1.767%,
            88.081% 2.429%,
            87.465% 3.152%,
            86.836% 3.93%,
            86.207% 4.755%,
            85.588% 5.621%,
            84.992% 6.521%,
            84.429% 7.448%,
            83.912% 8.395%,
            83.452% 9.356%,
            83.452% 9.356%,
            83.312% 10.409%,
            83.81% 11.361%,
            84.85% 12.213%,
            86.339% 12.968%,
            88.181% 13.63%,
            90.281% 14.201%,
            92.544% 14.684%,
            94.875% 15.083%,
            97.179% 15.4%,
            99.361% 15.638%,
            99.361% 15.638%,
            99.498% 15.676%,
            99.611% 15.755%,
            99.7% 15.868%,
            99.763% 16.005%,
            99.799% 16.157%,
            99.807% 16.316%,
            99.785% 16.472%,
            99.733% 16.618%,
            99.648% 16.744%,
            99.53% 16.841%,
            99.53% 16.841%,
            97.589% 17.997%,
            95.477% 19.27%,
            93.263% 20.62%,
            91.016% 22.008%,
            88.805% 23.396%,
            86.701% 24.746%,
            84.772% 26.019%,
            83.088% 27.176%,
            81.718% 28.178%,
            80.733% 28.988%,
            80.733% 28.988%,
            80.388% 29.693%,
            80.728% 30.492%,
            81.661% 31.364%,
            83.095% 32.29%,
            84.937% 33.249%,
            87.098% 34.22%,
            89.483% 35.185%,
            92.003% 36.122%,
            94.564% 37.011%,
            97.075% 37.832%,
            97.075% 37.832%,
            97.221% 37.914%,
            97.329% 38.047%,
            97.401% 38.217%,
            97.437% 38.411%,
            97.439% 38.614%,
            97.408% 38.813%,
            97.344% 38.995%,
            97.248% 39.145%,
            97.123% 39.25%,
            96.968% 39.297%,
            96.968% 39.297%,
            95.408% 39.429%,
            93.734% 39.603%,
            91.963% 39.823%,
            90.116% 40.091%,
            88.211% 40.413%,
            86.268% 40.792%,
            84.304% 41.23%,
            82.34% 41.733%,
            80.395% 42.303%,
            78.487% 42.945%,
            78.487% 42.945%,
            76.672% 44.009%,
            75.743% 45.495%,
            75.588% 47.329%,
            76.097% 49.434%,
            77.158% 51.736%,
            78.66% 54.158%,
            80.492% 56.625%,
            82.542% 59.061%,
            84.698% 61.392%,
            86.851% 63.54%,
            86.851% 63.54%,
            86.956% 63.679%,
            87.019% 63.842%,
            87.043% 64.018%,
            87.031% 64.197%,
            86.987% 64.37%,
            86.915% 64.525%,
            86.817% 64.654%,
            86.699% 64.744%,
            86.563% 64.787%,
            86.413% 64.772%,
            86.413% 64.772%,
            84.41% 64.189%,
            82.033% 63.556%,
            79.388% 62.934%,
            76.581% 62.38%,
            73.718% 61.954%,
            70.906% 61.715%,
            68.252% 61.722%,
            65.86% 62.032%,
            63.839% 62.707%,
            62.293% 63.804%,
            62.293% 63.804%,
            61.471% 65.121%,
            61.088% 66.823%,
            61.092% 68.844%,
            61.434% 71.122%,
            62.062% 73.592%,
            62.925% 76.193%,
            63.973% 78.859%,
            65.154% 81.528%,
            66.418% 84.136%,
            67.714% 86.62%,
            67.714% 86.62%,
            67.781% 86.811%,
            67.793% 87.011%,
            67.757% 87.21%,
            67.682% 87.399%,
            67.575% 87.565%,
            67.445% 87.701%,
            67.3% 87.793%,
            67.148% 87.834%,
            66.996% 87.811%,
            66.853% 87.715%,
            66.853% 87.715%,
            64.889% 85.763%,
            62.666% 83.623%,
            60.263% 81.398%,
            57.759% 79.193%,
            55.233% 77.113%,
            52.764% 75.262%,
            50.431% 73.744%,
            48.313% 72.665%,
            46.488% 72.129%,
            45.035% 72.239%,
            45.035% 72.239%,
            43.699% 73.258%,
            42.518% 75.124%,
            41.483% 77.66%,
            40.589% 80.687%,
            39.827% 84.027%,
            39.19% 87.502%,
            38.672% 90.935%,
            38.263% 94.146%,
            37.958% 96.96%,
            37.749% 99.196%,
            37.749% 99.196%,
            37.717% 99.364%,
            37.654% 99.505%,
            37.568% 99.615%,
            37.465% 99.695%,
            37.349% 99.742%,
            37.229% 99.755%,
            37.109% 99.733%,
            36.995% 99.674%,
            36.895% 99.576%,
            36.813% 99.438%,
            36.813% 99.438%,
            35.825% 97.262%,
            34.503% 94.485%,
            32.898% 91.297%,
            31.059% 87.892%,
            29.038% 84.459%,
            26.885% 81.193%,
            24.651% 78.284%,
            22.386% 75.924%,
            20.141% 74.305%,
            17.967% 73.62%,
            17.967% 73.62%,
            15.948% 74.21%,
            13.951% 76.054%,
            12.022% 78.82%,
            10.206% 82.173%,
            8.549% 85.782%,
            7.097% 89.314%,
            5.896% 92.435%,
            4.991% 94.814%,
            4.429% 96.117%,
            4.255% 96.012%,
            4.255% 96.012%,
            4.37% 94.538%,
            4.589% 92.088%,
            4.833% 88.915%,
            5.02% 85.269%,
            5.07% 81.404%,
            4.901% 77.569%,
            4.432% 74.017%,
            3.584% 70.999%,
            2.273% 68.768%,
            0.421% 67.574%,
            0.421% 67.574%,
            0.352% 67.549%,
            0.287% 67.513%,
            0.226% 67.467%,
            0.171% 67.412%,
            0.122% 67.349%,
            0.081% 67.278%,
            0.047% 67.201%,
            0.021% 67.118%,
            0.005% 67.03%,
            0% 66.938%
        );
    }
}

.faq-clip {
    clip-path: polygon(
        81.955% 0.236%,
        4.693% 9.693%,
        4.693% 9.693%,
        3.917% 9.872%,
        3.187% 10.204%,
        2.511% 10.677%,
        1.897% 11.277%,
        1.355% 11.992%,
        0.893% 12.808%,
        0.519% 13.713%,
        0.243% 14.694%,
        0.071% 15.737%,
        0.014% 16.83%,
        0.126% 70.377%,
        0.126% 70.377%,
        0.19% 71.49%,
        0.373% 72.55%,
        0.663% 73.542%,
        1.054% 74.455%,
        1.534% 75.273%,
        2.096% 75.985%,
        2.73% 76.575%,
        3.426% 77.032%,
        4.176% 77.341%,
        4.971% 77.488%,
        77.719% 83.095%,
        77.719% 83.095%,
        77.778% 83.102%,
        77.836% 83.112%,
        77.894% 83.125%,
        77.952% 83.143%,
        78.008% 83.164%,
        78.064% 83.189%,
        78.119% 83.217%,
        78.173% 83.249%,
        78.227% 83.284%,
        78.279% 83.323%,
        99.272% 99.817%,
        99.272% 99.817%,
        99.363% 99.867%,
        99.452% 99.877%,
        99.535% 99.853%,
        99.609% 99.799%,
        99.672% 99.721%,
        99.718% 99.624%,
        99.746% 99.514%,
        99.752% 99.396%,
        99.732% 99.275%,
        99.684% 99.157%,
        87.797% 77.597%,
        87.797% 77.597%,
        87.748% 77.502%,
        87.704% 77.402%,
        87.664% 77.299%,
        87.63% 77.193%,
        87.6% 77.084%,
        87.576% 76.973%,
        87.557% 76.859%,
        87.543% 76.744%,
        87.535% 76.627%,
        87.532% 76.51%,
        87.532% 7.352%,
        87.532% 7.352%,
        87.457% 6.124%,
        87.24% 4.967%,
        86.894% 3.897%,
        86.433% 2.931%,
        85.868% 2.084%,
        85.213% 1.375%,
        84.482% 0.819%,
        83.686% 0.433%,
        82.84% 0.233%,
        81.955% 0.236%
    );
}

.splide:not(.is-overflow) .splide__arrows {
    display: none;
}

.splide:not(.is-overflow) .splide__list {
    justify-content: center;
}

.splide:not(.is-overflow) .splide__slide:last-child {
    margin: 0 !important;
}
